
<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
    <div class="container">
      <h5 class="app_name">
        <a href="/" style="color: white;">Bookers</a>
      </h5>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
         <li class="nav-item">
          <%= link_to " Home", user_path(current_user), class: 'nav-link text-white fas fa-home' %>
        </li>
        <li class="nav-item">
          <%= link_to " Users", users_path, class: 'nav-link text-white fas fa-users' %>
        </li>
        <li class="nav-item">
          <%= link_to " Books", books_path, class: 'nav-link text-white fas fa-book-open' %>
        </li>
        <li class="nav-item">
          <%= link_to " logout", destroy_user_session_path, method: :delete, class: 'nav-link text-white fas fa-sign-out-alt' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to " Home", "/", class: 'nav-link text-white fas fa-home' %>
        </li>
        <li class="nav-item">
          <%= link_to " About", home_about_path, class: 'nav-link text-white fas fa-link' %>
        </li>
        <li class="nav-item">
          <%= link_to " sign up", new_user_registration_path, class: 'nav-link text-white fas fa-user-plus' %>
        </li>
        <li class="nav-item">
          <%= link_to " login", new_user_session_path, class: 'nav-link text-white fas fa-sign-in-alt' %>
        </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
    <%= yield %>
<footer style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <p class="px-3 mx-auto">
                CopyRight Infratop.inc
            </p>
        </div>
    </div>
</footer>
</body>
</html>
